:root {
    --spred-120: #B60022;
    --spred-110: #CE0027;
    --spred: #E4002B;
    --spred-90: #E71A41;
    --spred-80: #E93355;
    --spred-70: #ED4D6B;
    --spred-60: #EF6680;
    --spred-50: #F28095;
    --spred-40: #F499AA;
    --spred-30: #F7B3C0;
    --spred-20: #FACCD5;
    --spred-10: #FDE6EA;
    --spblack: #000424;
    --spblack-90: #1A1E3A;
    --spblack-80: #333650;
    --spblack-70: #4D5066;
    --spblack-60: #66687C;
    --spblack-50: #808292;
    --spblack-40: #999BA7;
    --spblack-30: #B3B4BE;
    --spblack-20: #CCCDD3;
    --spblack-10: #E6E6EA;
    --spgrey-120: #969696;
    --spgrey-110: #A9A9A9;
    --spgrey: #BBBBBB;
    --spgrey-90: #C2C2C2;
    --spgrey-80: #C9C9C9;
    --spgrey-70: #D0D0D0;
    --spgrey-60: #D6D6D6;
    --spgrey-50: #DDDDDD;
    --spgrey-40: #E4E4E4;
    --spgrey-30: #EBEBEB;
    --spgrey-20: #F1F1F1;
    --spgrey-10: #F9F9F9;
}
